.dtails{
    width: 30%;
    padding-left:30px ;
    height: auto;
}
.dtails .dtails-para{
    background-color: #f3f4f6;
    padding: 20px;
    border-radius: 16px;
}

.Person-Details{
    display: flex;
    align-items: center;
}
.Person-Details img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.Name-details{
    padding-left: 20px;
}
.Name-details span{
    font-weight: 500;
}