.card-main{
    padding: 20px 20% 4rem 20%;
}
.card{
    padding: 30px;
    border: 1px solid black;
    text-align: center;
    background-color: #111827;
    color: white;
    border-radius: 8px;
}
.card .p1{
    font-weight: 500;
    font-size: large;
}
.card .p2{
    color: #6b7280;
}